@{ Layout = "_Layout1"; }
<style>
 
  
  body {
  	background: #eee !important;	
  }
  
  .wrapper {	
  	margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); } 
  
    .form-signin-heading,
  	.checkbox {
  	  margin-bottom: 30px;
  	}
  
  	.checkbox {
  	  font-weight: normal;
  	}
  
  	.form-control {
  	  position: relative;
  	  font-size: 16px;
  	  height: auto;
  	  padding: 10px;
  		@@include box-sizing(border-box);}
  
  		&:focus {
  		  z-index: 2;
  		}
  	}
  
  	input[type="text"] {
  	  margin-bottom: -1px;
  	  border-bottom-left-radius: 0;
  	  border-bottom-right-radius: 0;
  	}
  
  	input[type="password"] {
  	  margin-bottom: 20px;
  	  border-top-left-radius: 0;
  	  border-top-right-radius: 0;
  	}
  }

</style>
<div class="wrapper">
    <form class="form-signin" action="/Home/guardarPublicacion">
        <h2 class="form-signin-heading">Ingrese la descripcion de la publicacion </h2>
        <hr>
        <h3>mascota</h3>
        <h4><b>Nombre: </b> @ViewBag.mimascota.Nombre</h4>
        <h4><b>Raza: </b> @ViewBag.raza[@ViewBag.mimascota.IdRaza].Nombre</h4>
        <h4><b>Especie: </b> @ViewBag.especie[@ViewBag.mimascota.IdEspecie].Nombre</h4>
        <input type="hidden"  name="IdMascota" value="@ViewBag.mimascota.Id"/>
      
        <input type="text" class="form-control" name="descripcion" placeholder="descripcion de la publicacion" required="" autofocus=""/>
        <hr>

        <button class="btn btn-lg btn-primary btn-block" type="submit">publicar</button>
    </form>
</div>