

<style>
body {
  heigh:665px;
  background-image: url("https://image.freepik.com/vector-gratis/fondo-blanco-gris-patron-lineas-diagonales_1017-25100.jpg");
  background-size: 30rem;
  
}

</style>


<h1>Conócenos</h1>
<h2><b>Introduccion</b></h2>

<p>La página web de adopción de animales es una forma más rápida para poder adoptar una mascota, con esta página queremos ofrecer 
    una reducción de los animales callejeros y abandonados, con este proyecto queremos sistematizar el proceso de adopción legal 
    de mascotas, como la tecnología avanzo rápidamente esta página web es muy fácil de usar, las mascotas  callejeras son parte 
    del paisaje nacional de norte a sur, en todos lados están presentes y en gran medida esto depende de la baja educación que 
    tienen las personas sobre la tenencia responsable de mascotas. Muchos de estos animales algún día vivieron en un hogar con 
    una familia humana, pero finalmente terminaron abandonados en las calles, produciendo nuevas crías que tendrán muy bajas 
    expectativas de encontrar un dueño responsable, sin embargo, esto es un problema que va creciendo anualmente y las autoridades
    en el Perú no toman en cuenta el porcentaje de animales abandonados y sobre todo el maltrato que se les está dando,
    ciertos casos llegan a la muerte del animal sin ningún tipo de compasión. Directamente este problema radica en malas decisiones 
    y sobre hacer un análisis de la situación que los ciudadanos obtenemos. No son regalos, son seres vivos irracionales, 
    pero sienten, piensan y sobre todo ha sido creado para un propósito en la vida. Los procedimientos para adoptar son relativamente
    simples, muchas fundaciones han mantenido muchas campañas para promover casos de los cuales llegan hasta el 100% de satisfacción
    para el animal, pero actualmente en la coyuntura debido al COVID-19 los animales han sido olvidados esto ha ocasionado una mayor
    cantidad de animales en estado de abandono. Con nuestro proyecto buscamos hacer un estudio al adoptante para saber si está en 
    condiciones de mantener al animalito, y en caso de cumplir con dicho requerimiento, se le hace entrega de la mascota. </p>

<br>
<h2><b>Alcance</b></h2>

<p>El propósito de este proyecto es analizar la viabilidad de una pagina web para la adopción de mascotas (perros, gatos, loros. etc.) para 
    contribuir al control de un problema social y que a su vez se vuelva una herramienta para concientizar a las personas sobre la importancia 
    de la adopción de los animales.  </p>

<br>
<h2><b>Objetivos</b></h2>

<h3>General</h3>
<p>•	El objetivo de nuestro proyecto es brindar una página web que permita la adopción de mascotas.   </p>
<h3>Especificos</h3>
<p>•	Sistematizar el proceso de adopción <br>
    •	Hacer un estudio al adoptante <br>
    •	Diseñar una página web de adopción de animales <br>
</p>
